<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
	</welcome-file-list>
    <servlet>
        <servlet-name>LoginControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.LoginControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.StoreControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.AdminControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.RegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationDAO</servlet-name>
        <servlet-class>shoppingcatalog.dao.RegistrationDAO</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrationControllerServlet1</servlet-name>
        <servlet-class>shoppingcatalog.controller.RegistrationControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.RemoveCartControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.OrderControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddNewProductControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.AddNewProductControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductControllerServlet2</servlet-name>
        <servlet-class>shoppingcatalog.controller.UpdateProductControllerServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.UpdateProductControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.DeleteProductControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductControllerServlet3</servlet-name>
        <servlet-class>shoppingcatalog.controller.UpdateProductControllerServlet3</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowUsernameControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.ShowUsernameControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveUserControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.RemoveUserControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrdersControllerServlet</servlet-name>
        <servlet-class>shoppingcatalog.controller.ViewOrdersControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginControllerServlet</servlet-name>
        <url-pattern>/LoginControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreControllerServlet</servlet-name>
        <url-pattern>/StoreControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminControllerServlet</servlet-name>
        <url-pattern>/AdminControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationControllerServlet</servlet-name>
        <url-pattern>/RegistrationControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationDAO</servlet-name>
        <url-pattern>/RegistrationDAO</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrationControllerServlet1</servlet-name>
        <url-pattern>/RegistrationControllerServlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartControllerServlet</servlet-name>
        <url-pattern>/RemoveCartControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderControllerServlet</servlet-name>
        <url-pattern>/OrderControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddNewProductControllerServlet</servlet-name>
        <url-pattern>/AddNewProductControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductControllerServlet2</servlet-name>
        <url-pattern>/UpdateProductControllerServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductControllerServlet</servlet-name>
        <url-pattern>/UpdateProductControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductControllerServlet</servlet-name>
        <url-pattern>/DeleteProductControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductControllerServlet3</servlet-name>
        <url-pattern>/UpdateProductControllerServlet3</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowUsernameControllerServlet</servlet-name>
        <url-pattern>/ShowUsernameControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveUserControllerServlet</servlet-name>
        <url-pattern>/RemoveUserControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrdersControllerServlet</servlet-name>
        <url-pattern>/ViewOrdersControllerServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
